
@font-face {
    font-family: 'TTLakes-Bold';
    src: url('./fonts/TTLakes-Bold.eot');
    src: local('./fonts/TT Lakes Bold'), local('TTLakes-Bold'),
        url('./fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTLakes-Bold.woff') format('woff'),
        url('./fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    }
@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-Regular.eot');
    src: local('./fonts/TT Lakes Regular'), local('TTLakes-Regular'),
        url('./fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTLakes-Regular.woff') format('woff'),
        url('./fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'TT Lakes Demi';
    src: url('./fonts/TTLakes-DemiBold.eot');
    src: local('./fonts/TT Lakes DemiBold'), local('TTLakes-DemiBold'),
        url('./fonts/TTLakes-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTLakes-DemiBold.woff') format('woff'),
        url('./fonts/TTLakes-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    }
                   
.building{
    margin:0;
    background-color:#f7f7f7;
    width:auto;
}        
.menu__item{
    display: flex;
    justify-content: space-around;
    align-items: center;  
}          
.menu__item-height{
    height: 88px;  
}      
.menu_item-color{
    background-color: rgb(255, 255, 255);
    border-bottom:#D9FFF5 1px solid;
}
.menu__item-logo_box-mobile{
    display: flex;
}
.menu__item-logo_box-mobile::before{    
    content: "";
    position: relative;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #EAEAEA;
    left:0.1em;
    top:0.1em;
}
.title{
    display: flex;
    font-family: 'TTLakes-Bold';
}
.title__settings{
    margin-left: 1em;
    margin-top: 1em;
}
.title__settings::before{
    content: "";
    position: relative;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius:0px 5px 5px 0px;
    right: 1em;
    margin-top: 1.5em;
}
.services{                              
    display:flex;
}
.services__width{
    width: max-content;
}
.scroll-menu__indent{                           
    margin-left: 1em; 
    margin-bottom: 1em;
}
.scroll-menu_overflow-style{
    overflow: auto;  
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.scroll-menu_overflow-style::before{                   
    content: "";
    position: absolute;
    height: 40px;
    width: 24px;
    background:linear-gradient(90deg,rgba(248, 248, 248, 0.0001),rgba(248, 248, 248, 1));
    right:0;
}    
.scroll-menu_overflow-style::-webkit-scrollbar {       
    width: 0;
    height: 0;
}
.text-first{
    font-family: 'TT Lakes';
}
.text-first__options{
    font-size: 14px;
    margin: 0 1em;
}
.services__button-parametr{
    font-family: 'TT Lakes';
    margin-right: 1em;
    font-size: 16px;
    padding: 8px 13px;
}
.services__button_style{
    background-color: #F8F8F8;
    border: none;
    color: #7E7E82;
    text-decoration: none;
}
.services__button_style :hover, :focus{
    border: #B8FFEC 2px solid;
    border-radius: 5px;
    background-color:white
}
.photo__margin{
    width:100%;
}                                                             
.menu__item-logo-smlg{
display: flex;
}
.menu__item-logo-smlg_burger{
    background-image: url("./img/burger.svg");
    background-color: white ;
    border: none;
    height:40px;
    width:40px;
}
.menu__item-logo-gps{
    display:flex;
}
.menu__item-logo_group{
    background-image: url("./img/Group.svg");
    border: none;
    background-color: white;
    height:52px;
    width:98px;
}
.menu__item-logo_repair{
    background-image: url("./img/repair.svg");
    background-color: white ;
    border: none;
    height:40px;
    width:40px;
}
.menu__item-logo_checkstatus{
    background-image: url("./img/checkstatus.svg");
    background-color: white ;
    border: none;
    height:40px;
    width:40px;
}
.text__only-pc{
display: none;
}
.menu__item-logo_box-planshet{
display: none;
}
.menu__item-logo-lg{
display: none;
}
.text-second{
display: none;
}
.title__banner-button-indent{
display: none;
}
.services__button-parametr:nth-child(1){
display: none;
}                                                                  
.button-style{
    font-family: 'TT Lakes Demi';
    display: flex;
    align-items: center;
} 
.button-style__options{
    margin-left:1em;
    margin-top:1em;
    margin-bottom:1em;
    font-size: 16px;
    width: max-content;
    height: 1.5em;
}  
.button-style_colors{
    background-color: #f7f7f7;
    border: none;
}

@media (min-width: 768px){    

.menu__item-logo-lg{
    display: flex;
}
.menu__item-logo-lg_call{
  background-image:url("./img/call.svg"); 
  background-color: white ;
  border: none;
  height:40px;
  width: 40px;
}
.menu__item-logo-lg_chat{
    background-image:url("./img/chat.svg");
    background-color: white ;
    border: none;
    height:40px;
    width: 40px;
}
.menu__item-logo-lg_profile{
    background-image:url("./img/profile.svg");
    background-color: white ;
    border: none;
    height:40px;
    width: 40px;
}
.menu__item-logo_box-planshet{
    display: flex;
}
.menu__item-logo_box-planshet::before{
content: "";
position: relative;
width: 2px;
height: 32px;
border-radius: 1px;
background-color: #EAEAEA;
left:0.1em;
top:0.1em;
}
.menu__item-logo_gps{
    margin-right: 15em;
}
    .division{
        display: flex;
    }
.about-us{
    display: flex;
    flex-direction: column;
}
.about-us__width{
    width: 45%;
}
.text-first{
    display: flex;
}
.text-first__options{
    margin-bottom: 1em;
}
    .text-second__options{
        display: flex;
        font-family: 'TT Lakes';
        font-size: 14px;
        margin: 0 1em;
    }
.photo__box-options{
    width: 50%;
}
.photo__margin{
    margin-left: auto;
}
.photo_options{
    border-radius:5px;
}   
.menu__item-logo_box-mobile{
    display: none;
}
.text__only-pc{
    display: none;
}
    
}

@media (min-width: 1120px){  
.wrapper{
    width: 1120px;
    margin: auto;
}
.services__button-parametr:nth-child(1){
    display: inline-block;
}
.title{
    display: flex
}
.title__settings{
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}
.title__banner{
    margin-right: auto;
}
.title__banner-button-indent{
    display: flex;
    font-family: 'TT Lakes Demi';
    align-items: center;
    height: 3em;
    margin-top: 1em;
    margin-right: 1em;
}
.title__banner-button_color{
    border: none;
    background-color:  #F8F8F8;
}
.title-button__margin{
    margin-left: 2em;
    margin-right: 1em;
}
.title__settings::before{
    content: "";
    position: relative;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius:5px;
    right: 1em;
    margin-top: 1.5em;
}
.scroll-menu__indent{
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}
.scroll-menu_overflow-style{
overflow:hidden;
}
.services{
    display: inline;
}
.services__button-parametr{
    margin-bottom: 0.5em;
}
.text__only-pc{
display: inline;
font-family: 'TT Lakes';
font-size: 14px;
}
.text-second{
    display: block;
}
.photo__box-options{
    margin-left: 2em;
}
.hat{
    display: none;
}
.services__button_style:nth-child(3){
    display: none;
}
.menu__item-logo-smlg{
    display: none;
}
.menu__item-logo-lg{
    display: none;
}
.menu__item-logo-gps{
    display: none;
}
.menu__item-logo-mdxl{
    display: none;
}
}